.playlist {
    box-sizing: border-box;
    margin-left: 250px;
 
}
.container {
    width: auto;
    height: auto;
    margin-top: 15px;
    float:right; 
    margin-left: -100px;
}

.image {
    position: relative;
    width: 40%;
    height: 30%;
    display: flex;
  }

.title{
  font-size: 17px;
  color: rgb(8, 8, 8);
  
}
.artist {
    font-size: 13px;
    color: rgb(8, 8, 8);
}
.album{
  font-size: 12px;
  color: #4c5262;
  
}